<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/codebase/webix.css">
        <link rel='stylesheet' href="/stylesheets/style.css" />
        <script src="/codebase/webix.js"></script>
        <title>{{title}}</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
